<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <style>
    main {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    #div-add {
      display: none;
      padding: 30px 20px;
      border: 1px solid black;
      margin-bottom: 20px;
    }
    #error {
      display: none;
      margin: 0;
      text-align: center;
      color: red;
    }
  </style>
  <script>
    var baseUrl = "<%= process.env.baseUrl %>";
  </script>
  <script
    src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
    crossorigin="anonymous"
  ></script>
  <body>
    <main>
      <h4>Username: <span onclick="sendhello()" id="givenUsername"></span></h4>
      <div id="div-add"></div>
      <button
        id="add-project"
        data-allowed="1"
        onclick="(() => {
          console.log('adding');
          $('#div-add').css('display','block')
          const dataAllowed= $('#add-project').attr('data-allowed')
          if(!+dataAllowed)return
          $('#add-project').attr('data-allowed','0')
          const c =` 
                    <form >
                      <div>
                        <label for='name'>Project Name:</label>
                        <input type='text' id='name' name='name' placeHolder='google'  />
                      </div>
                      <div>
                        <label  for='web'>Website Name:</label>
                        <input type='url' id='web' name='web' placeHolder='www.google.com'  />
                      </div>
                      <p id='error'></p>
                      <button  id='submit' type='submit'>Submit</button>
                    </form>
            `;
          document.getElementById('div-add').insertAdjacentHTML('beforeend',c);
      })()"
      >
        Add project
      </button>
    </main>
    <script defer src="/dashboardout.js"></script>
  </body>
</html>
