<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <style>
    main {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    #div-add,
    #show-project {
      padding: 30px 20px;
      border: 1px solid black;
      margin-bottom: 20px;
    }
    #show-project {
      margin-bottom: 20px;
    }
    #div-add {
      display: none;
    }
    #error {
      display: none;
      margin: 0;
      text-align: center;
      color: red;
    }
  </style>
  <script>
    var baseUrl = "<%= process.env.baseUrl %>";
  </script>
  <script
    src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
    crossorigin="anonymous"
  ></script>
  <body>
    <main>
      <h4>Username: <span id="givenUsername"></span></h4>
      <div id="show-project"></div>
      <div id="div-add"></div>
      <button
        id="add-project"
        data-allowed="1"
        onclick="dashboardAddProject(event)"
      >
        Add project
      </button>
    </main>
    <script defer src="/dashboard.js"></script>
  </body>
</html>
