<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <style>
    main {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    form {
      width: 300px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
    }
    button {
      grid-column: span 2;
    }
  </style>
  <script>
    async function sendFormData(e) {
      e.preventDefault();
      const baseUrl = "<%= process.env.baseUrl %>";

      if (+e.target.submit.getAttribute("data-loading")) return;
      e.target.submit.innerHTML = "Loading...";
      e.target.submit.setAttribute("data-loading", "1");

      const email = e.target.email.value,
        username = e.target.username.value,
        name = e.target.name.value,
        password = e.target.password.value;

      const body = { email, password, name, username };

      const resp = await fetch(`${baseUrl}/a/usercreate`, {
        headers: { "Content-Type": "application/json" },
        method: "POST",
        body: JSON.stringify(body),
      });

      const json = await resp.json();

      if (resp.status == 201) {
        localStorage.setItem("token", json.token);
        window.location.href = "/auth/profile";
      } else {
        document.getElementById("error").innerText =
          json?.msg || "username taken";
      }
      e.target.submit.setAttribute("data-loading", "0");
      e.target.submit.innerHTML = "submit";
    }
  </script>
  <body>
    <main>
      <h1>Register</h1>
      <form onsubmit="sendFormData(event)">
        <label for="email">Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="email">Password:</label>
        <input type="password" id="password" name="password" required />
        <button id="submit" data-loading="0" type="submit">Submit</button>
      </form>
      <p id="error"></p>
      <button
        onclick="(() => { console.log('clicked');
        window.location.href='/auth/login' })()"
      >
        Login
      </button>
    </main>
  </body>
</html>
